<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" , lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ region }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/getposter.css') }}">
    </head>
    <body>
        {% set modulo = photos|length % 3 %}
        {% if photos|length >= 3 %}
            {% for i in range(0, photos|length // 3) %}
                <div class="flex_container">
                    <a href="{{ url_for('PosterDescription.index', id=photos[3 * i]['id']) }}">
                        <img src="{{ photos[3 * i]['url'] }}" alt="">
                    </a>
                    <a href="{{ url_for('PosterDescription.index', id=photos[3 * i + 1]['id']) }}">
                        <img src="{{ photos[3 * i + 1]['url'] }}" alt="">
                    </a>
                    <a href="{{ url_for('PosterDescription.index', id=photos[3 * i + 2]['id']) }}">
                        <img src="{{ photos[3 * i + 2]['url'] }}" alt="">
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        {% if photos|length % 3 != 0 %}
            <div class="flex_container">
                {% for i in range(photos|length % 3) %}
                    <span1>
                    <a href="{{ url_for('PosterDescription.index', id=photos[photos|length - (photos|length % 3) + i]['id']) }}">
                        <img src="{{ photos[photos|length - (photos|length % 3) + i]['url'] }}" alt="">
                    </a>
                    </span1>
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>
