<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" , lang="en">
    <head>
        <meta charset="UTF-8">
        <title style="display: none">Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <div class="flex_container">
            <h1>Get the poster of your dreams on this website</h1>
            <div class="steps">
                <div class="box">Find the photo you like the most</div>
                <div class="arrow">&#62;</div>
                <div class="box">Select the size of the poster you want</div>
                <div class="arrow">&#62;</div>
                <div class="box">Order it</div>
            </div>
        </div>
    </body>
</html>
