<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" , lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My cart</title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/mycart.css') }}">
    </head>
    <body>
        {% for item in user_cart %}
            <div class="flex_container font">
                <div style="display: flex;
                            flex-direction: row;
                            margin-bottom: 1px;
                            background-color: #f8f8f8">
                    <a href="{{ url_for('PosterDescription.index', id=item['id']) }}">
                        <img src="{{ url_for('static', filename=item['filepath']) }}" alt="">
                    </a>
                    <div class="infos">
                        <p style="">
                            {{ item['continent'] }} #{{ item['id'] }}
                            <br>
                        </p>
                        <p style="">
                            Quantity: {{ item['quantity'] }}
                            <br>
                        </p>
                        <p style="">
                            Size (cm): {{ item['size'] }}}
                            <br>
                        </p>
                        <p style="">
                            Price: {{ item['price'] }}$
                            <br>
                        </p>
                    </div>
                    <div style="flex-grow: 1">
                        <a href="{{ url_for('MyCart.remove_item', poster_id=item['id'], quantity=item['quantity'], size=item['size']) }}"
                           style="font-size: small;
                                  float: right">Remove from cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <p class="font">Total price: {{ cart_total_price }}$</p>
        <a href="{{ url_for('PaymentForm.index') }}">
            <button>Pay</button>
        </a>
    </body>
</html>
