<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" , lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My orders</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myorders.css') }}">
    </head>
    <body>
        <h1 class="font" style="margin: 30px">My orders</h1>
        {% for order in user_orders %}
            <h2 style="color: #404040;
                       display: flex;
                       flex-direction: column"
                class="font">{{ order['items'][0]['date'] }} --> order #{{ order['items'][0]['order_id'] }}</h2>
            {% for item in order['items'] %}
                <div class="flex_container font">
                    <a href="{{ url_for('PosterDescription.index', id=item['photo_id']) }}">
                        <img src="{{ item['url'] }}" alt="">
                    </a>
                    <div class="infos">
                        <p style="">
                            {{ item['continent'] }} #{{ item['id'] }}
                            <br>
                        </p>
                        <p style="">
                            Quantity: {{ item['quantity'] }}
                            <br>
                        </p>
                        <p style="">
                            Size (cm): {{ item['size'] }}
                            <br>
                        </p>
                        <p style="">
                            Price: {{ item['price'] }}$
                            <br>
                        </p>
                    </div>
                </div>
            {% endfor %}
            <p class="font total_price">Total price: {{ order['order_total_price'] }}$</p>
        {% endfor %}
    </body>
</html>
