<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="navbar">
            <a class="navbar_button" href="{{ url_for('Home.index') }}"><span>Home</span></a>
            <a class="navbar_button" href="{{ url_for('GetPoster.index', region='Europe') }}"><span>Europe</span></a>
            <a class="navbar_button" href="{{ url_for('GetPoster.index', region='Asia') }}"><span>Asia</span></a>
            <a class="navbar_button" href="{{ url_for('GetPoster.index', region='America') }}"><span>America</span></a>
            <a class="navbar_button" href="{{ url_for('GetPoster.index', region='Africa') }}"><span>Africa</span></a>
            <a class="navbar_button" href="{{ url_for('GetPoster.index', region='Oceania') }}"><span>Oceania</span></a>
            <a class="navbar_button" href="{{ url_for('MyCart.index') }}"><span>My cart</span></a>
            {% if not session['login'] %}
                <div class="navbar_button showhim nav_right">
                    My account
                    <form class="showme" method="post" action="{{ url_for('Navbar.login') }}">
                        <input type="email" id="email_login" name="email_login" placeholder="Email" required>
                        <input type="password" id="password_login" name="password_login" placeholder="Password" required>
                        <input type="submit" style="width: 100%" value="Submit">
                        <div style="color:red">
                            {% if not session['password'] %}
                                Wrong email or password
                            {% endif %}
                            <a href="{{ url_for('MyAccount.index') }}" style="font-size: small">No Account ?</a>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="navbar_button showhim nav_right">
                    {{ session['login'] }}
                    <div class="showme">
                        <a href="{{ url_for('MyOrders.index') }}">
                            <button>My orders</button>
                        </a>
                        <a href="{{ url_for('Navbar.disconnect_user') }}">
                            <button>Log out</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>
