<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ photo['continent'] }} #{{ photo['id'] }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posterdescription.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
        display_price = function () {
            let size = $("input:radio[name ='radio_buttons']:checked").val();
            let price = 0;

            switch (size) {
                case "40x50":
                    price = 29.99;
                    break;
                case "50x70":
                    price = 39.99;
                    break;
                case "60x90":
                    price = 59.99;
                    break;
                case "100x150":
                    price = 79.99;
                    break;
                case "120x180":
                    price = 99.99;
                    break;
            }

            if (price !== 0) {
                document.getElementById('price').innerHTML = (parseInt(document.getElementById('quantity').value) * price).toFixed(2) + '$';
            }
        }
        </script>
    </head>
    <body>
        <div class="flex_container">
            <div class="photo_div">
                <img src="{{ url_for('static', filename=photo['filepath']) }}" alt="">
            </div>
            <div class="product_info">
                <form class="size_form" name="size_form" action="{{ url_for('MyCart.add_to_cart', id=photo['id']) }}" method="post">
                    <div class="font title">{{ photo['continent'] }} #{{ photo['id'] }}</div>
                    <label class="font">Size (cm):</label>
                    <div class="size_container">
                        <label for="size1">40 x 50</label>
                        <input id="size1" class="btn btn-default" type="radio" value="40x50" name="radio_buttons" onclick="display_price();" required>
                        <label for="size2">50 x 70</label>
                        <input id="size2" class="btn btn-default" type="radio" value="50x70" name="radio_buttons" onclick="display_price();">
                        <label for="size3">60 x 90</label>
                        <input id="size3" class="btn btn-default" type="radio" value="60x90" name="radio_buttons" onclick="display_price();">
                        <label for="size4">100 x 150</label>
                        <input id="size4" class="btn btn-default" type="radio" value="100x150" name="radio_buttons" onclick="display_price();">
                        <label for="size5">120 x 180</label>
                        <input id="size5" class="btn btn-default" type="radio" value="120x180" name="radio_buttons" onclick="display_price();">
                    </div>
                    <label for="quantity" class="font">Quantity:</label>
                    <select id="quantity" onchange="display_price();" name="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <br>
                    <br>
                    <div style="text-align: center" class="buy">
                        <button type="submit" style="font-size: 16px">Add to cart</button>
                        <div id="price" class="font"></div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
