.flex_container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	background-color: #f8f8f8;
	margin: 1px;
	justify-content: center;
}

img {
	transition: transform 0.8s;
	margin: 20px;
	width: auto;
	height: 180px;
}

img:hover {
	transform: scale(1.08);
}

body {
	display: flex;
	flex-direction: column;
}
